.filter-bar {
    background-color: #f2f2f2;
    padding: 0.2rem 0;
    border-bottom: 1px solid #e0e0e0;
}

.filter-bar .nav-link,
.filter-bar .dropdown-toggle {
    color: #333 !important;
    font-weight: 500;
}